@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

section {
    padding-bottom: 150px;
}

footer {
    background: rgba(142, 193, 209, 0.08);
}

input::-webkit-input-placeholder {
    font-size: 14px;
}

.tagline h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.tagline p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: rgba(44, 44, 44, 0.5);
}

.main-title {
    color: #364A7C;
}

.sub-title {
    color: #8EC1D1;
}

.title-header {
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 63px;
    padding-top: 5rem;
    margin-bottom: 100px;
    text-align: center;
}

.features img {
    text-align: center;
}

.work-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    margin-top: 27px;
}

.work-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: rgba(44, 44, 44, 0.5);
}

.services {
    background-color: #8EC1D1;
}

.tag {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 140.1%;
    background-color: #EEF7FE;
    text-align: center;
    vertical-align: center;
}

.card {
    background-color: #FFFFEE;
}

.message-button {
    border-color: #364A7C;
}

.hire-button {
    background-color: #364A7C;
}

.object-fit-cover {
    object-fit: cover;
}

.client-body {
    color: #2C2C2C;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
}

.provider {
    background: rgba(142, 193, 209, 0.08);
}

.cta {
    background: url(../img/cta.png) no-repeat;
    height: 457px;
}

.attribution {
    color: #2C2C2C;
}

.input-blue {
    background-color: #364A7C;
}

.join-now {
    background-color: #FFD337;
    font-weight: 900;
}

/* login.php */
.text-blue {
    color: #0F2D52;
}